<h1>編集 : <%= print_log_type(@log.log_type) %></h1>
<%= link_to '削除', @log, method: :delete, class: "btn btn-link", data: {disable_with: '処理中です'} %>

<%= render 'form', log: @log %>

<%= link_to '戻る', logs_path, class: "btn btn-link" %>
